@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('./styles/normalize.css');

// Colors
$green: #499A18;
$orange: #E06733;
$light-gray: #717171;
$dark-gray: #636060;
$bg-section: #EDF2EC;
$links-nav: #010201;
$white: #FFF;

// Fonts
$inika: 'Inika', serif;
$inter: 'Inter', sans-serif;

* {
    scroll-padding-top: 134px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

img {
    user-select: none;
}

.btn {
    font-family: $inter;
    border-radius: 10px;
    border: 2px solid #E06733;
    background: rgba(224, 103, 51, 0.00);
    padding: 14px 27px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background: #E06733;
        color: $white;
    }

    &:active {
        transform: scale(0.9);
        transition: transform .1s ease-in;
    }
}

.header {
    padding: 42px 110px;
    font-family: $inika;
    background-color: $bg-section;
    margin-bottom: -1px;
    position: sticky;
    top: 0;

    &__logo {
        cursor: pointer;

        p {
            margin: 5px 0 0 0;
        }
    }
    a {
        text-decoration: none;
        color: #000;
    }
}

.nav {
    margin-left: auto;

    &__list {
        list-style: none;
    }

    &__item {
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &__item.active a {
        color: $orange;
    }
}

.top {
   padding: 62px 109px;
   background-color: $bg-section;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 5rem;

    &__leafs {
        transition: all .5s ease-in-out;
        user-select: none;

        &-smallest {
            transition: all .6s ease-in-out;
            filter: blur(3px);
        }

        &-lg {
            transition: all .6s ease-in-out;
            transform: rotate(28deg) translate(4rem, -5rem);
        }

        &-md {
            transition: all .6s ease-in-out;
            transform: rotate(-2deg) translate(1rem, 1rem);
        }

        &-sm {
            transition: all .6s ease-in-out;
            transform: rotate(-77deg) translate(0rem, 0rem);
        }

        &-smallest-1 {
            transform: rotate(53deg) translate(1rem, -1rem);
        }
        &-smallest-2 {
            transform: rotate(134deg) translate(-10rem, -6rem);
        }

        &:hover {

            .top__leafs {
                &-lg {
                    transform: rotate(0deg) translate(-1rem, -3rem);
                    filter: blur(0);
                }

                &-md {
                    transform: rotate(-43deg) translate(0rem, 0rem);
                }

                &-sm {
                    transform: rotate(-52deg) translate(4rem, -4rem);
                }

                &-smallest-1 {
                    transform: rotate(77deg) translate(-8rem, 0rem);
                }

                &-smallest-2 {
                    transform: rotate(95deg) translate(-4rem, -3rem);
                    filter: blur(0);
                }
            }
        }
    }

    &__content {
        font-family: $inter;
        h1 {
            color: $light-gray;
            font-size: 45px;
            font-weight: 700;
            max-width: 549px;

            span {
                color: $green;
            }
        }

        p {
            color: $dark-gray;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            max-width: 525px;
        }
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding: 94px 109px;
    
    h2 {
        font-family: $inika;
        color: $green;
        font-size: 40px;
        line-height: normal;

        span {
            color: $orange;
        }
    }

    p {
        font-family: $inter;
        color: $dark-gray;
        font-size: 20px;
        line-height: 30px;
    }

    img {
        margin-left: auto;
    }
}

.projects {
    padding: 40px 109px 121px;
    background-color: $bg-section;

    &__top {

        h2 {
            font-family: $inika;
            color: $green;
            font-size: 40px;
            max-width: 306px;
        }

        button {
            color: $orange;
        }

        button.active {
            color: $white;
            background-color: $orange;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
        row-gap: 55px;
        margin-top: 90px;
    }

    &__item {
        font-family: $inter;
        border: 1px solid #E3E1D5;
        width: fit-content;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        margin: 0 auto;
        transform: scale(1);
        transition: all .5s ease-in-out;

        h4 {
            color: $orange;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }

        p {
            font-size: 16px;
            color: $light-gray;
        }

        .projects__img-wrapper {
            overflow: hidden;
        }

        img {
            transform: scale(1);
            transition: all .5s ease-in-out;
            height: 100%;
        }

        &:not(.blur-scale):hover {
            img {
                transform: scale(1.2);
            }
        }
    }

    .blur-scale {
        filter: blur(2px);
        transform: scale(0.8);
    }
}

.prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 109px 115px;

    &__left {
        font-family: $inter;
        
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    &__selects {
        border-radius: 20px;
        border: 1px solid #E3E1D5;
        padding: 34px 41px;
        width: fit-content;
    }

    &__select {
        padding: 16px 40px;
        background-color: $bg-section;
        font-size: 20px;
        border-radius: 20px;
        width: 170px;
        height: 19px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        font-family: $inter;
        overflow: hidden;

        span {
            font-weight: 700;
        }

        &.opened {
            background-color: #D6E7D2;
            height: 154px;

        }
    }

    &__desc {
        margin-top: 13px;
        border-top: 0.5px solid #AEA1A1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;
            
        p {
            font-size: 12px;
            color: $light-gray;
            line-height: 12px;
            margin: 6px 0 0 0;
        }

        h4 {
            color: $orange;
            margin: 0;

            span {
                font-size: 14px;
                color: #000;
                font-weight: 400;
            }
        }

        button {
            border-radius: 10px;
            background: #FFF;
            border: none;
            padding: 5px 20px;
            color: $light-gray;
            text-transform: capitalize;
            font-weight: 700;
            cursor: pointer;
            margin-top: 5px;
            transform: scale(1);
            transition: transform .1s ease-in;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    &__underline {
        height: 0.5px;
        width: 100%;
        background: #AEA1A1;
    }

    &__right {

        h2 {
            font-family: $inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            max-width: 452px;

            span {
                color: $green;
            }
        }

        button {
            color: $orange;
            text-transform: capitalize;
            font-weight: 700;
        }

        .leafs {

            &__sm-1 {
                transform: rotate(86deg);
            }

            &__sm-2 {
                transform: translate(1rem, -3.5rem);
            }
        }
    }
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 109px 0;
    background-color: $bg-section;

    h2 {
        font-family: $inika;
        font-size: 40px;
        color: $green;
        margin-left: 113px;
    }

    &__select {
        width: 395px;
        padding: 0 35px 0 20px;
        height: 50px;
        background-color: #D6E7D2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 148px;
        cursor: pointer;

        p {
            color: $light-gray;
            font-family: $inter;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
    }
}

